:root .theme_dark {
  color-scheme: dark;
  --menu-color: #ff0070;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
  --page-title-color: #db00ff;
  --page-title-shadow-color: #ff0070;
  --title-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-text-color: #000028;
  --accent-bakcground-color: #ff0070;
  --background-image-url: url("../images/cover-image-dark.png");
}

.theme_dark .header__rec {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --menu-color: #ff0070;
    --menu-hover-color: rgba(255, 0, 112, 0.4);
    --page-title-color: #db00ff;
    --page-title-shadow-color: #ff0070;
    --title-color: #ff0070;
    --text-color: #f1b2ce;
    --accent-text-color: #000028;
    --accent-bakcground-color: #ff0070;
    --background-image-url: url("../images/cover-image-dark.png");
  }

  .header__rec {
    display: flex;
  }
}