/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  color-scheme: dark;
  --menu-color: #ff0070;
  --page-title-color: #db00ff;
  --page-title-shadow-color: #ff0070;
  --title-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-text-color: #000028;
  --accent-bakcground-color: #ff0070;
  --background-image-url: url("../images/cover-image-dark.png");
}

.theme_dark .header__rec {
  line-height: 1.39;
  position: absolute;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 10px;
  inset-block-start: var(--padding-size);
  inset-inline-end: calc(10px + var(--padding-size));
}

.theme_dark .header__rec::after {
  display: inline-block;
  content: "";
  border-radius: 50%;
  background-color: #ff0070;
  box-shadow: 0 0 4px 4px #ff0070;
  inline-size: 9px;
  block-size: 9px;
}

@media (prefers-color-scheme: dark) {
  .page {
    color-scheme: dark;
    --menu-color: #ff0070;
    --page-title-color: #db00ff;
    --page-title-shadow-color: #ff0070;
    --title-color: #ff0070;
    --text-color: #f1b2ce;
    --accent-text-color: #000028;
    --accent-bakcground-color: #ff0070;
    --background-image-url: url("../images/cover-image-dark.png");
  }

  .header__rec {
    line-height: 1.39;
    position: absolute;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 10px;
    inset-block-start: var(--padding-size);
    inset-inline-end: calc(10px + var(--padding-size));
  }

  .header__rec::after {
    display: inline-block;
    content: "";
    border-radius: 50%;
    background-color: #ff0070;
    box-shadow: 0 0 4px 4px #ff0070;
    inline-size: 9px;
    block-size: 9px;
  }
}