.page.theme_light {
  color-scheme: light;
  --menu-color: #353430;
  --page-title-color: #ffc2e6;
  --page-title-shadow-color: #ff0070;
  --title-color: #353430;
  --text-color: #353430;
  --accent-text-color: #353430;
  --accent-bakcground-color: #ff8dcb;
  --background-image-url: url("../images/cover-image-light.png");
}

.theme_light .header__rec {
  display: none;
}